<div class="grid grid-cols-2 gap-8">
  <div>
    <h3 class="text-lg text-gray-500">Show</h3>
    <h2 class="text-h3 font-serif leading-tight">
      <%= event.title %>
    </h2>
    <p class="text-h4 font-serif text-gray-500 mt-4">
      <%= event.from.strftime('%B %e') %> – <%= event.to.strftime('%B %e, %Y') %>
    </p>

    <div class="mt-8">
      <%= event.address %>%
    </div>
  </div>

  <div>
    <h3 class="text-lg text-gray-500">About</h3>
    <p class="mt-2 leading-relaxed">
      <%= event.description %>
    </p>

    <div class="mt-4">
      <%= link_to "MORE INFO", event_path(event), class: "inline-block text-sm underline" %>
    </div>
  </div>
</div>