<% admin_layout "full-width" %>
<% content_for :page_actions do %>
  <li>
    <%= link_to t('spree.new_artist'), new_admin_artist_url, id: 'admin_new_artist', class: 'btn btn-primary' %>
  </li>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_artists_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :name_cont, "Name" %>
            <%= f.text_field :name_cont, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :created_at_gteq, "From Date" %>
            <%= f.date_field :created_at_gteq, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <br>
            <%= f.submit "Search", class: 'btn btn-primary' %>
            <%= link_to "Reset", admin_artists_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div data-hook="admin_artists_index_headers">
  <table class="table" id="listing_artists" data-hook>
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 30%;">
      <col style="width: 25%;">
      <col style="width: 15%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_artists_index_headers">
        <th><%= sort_link(@search, :name, "Name") %></th>
        <th><%= "Introduction" %></th>
        <th><%= "Address" %></th>
        <th><%= "Duration" %></th>
        <th><%= sort_link(@search, :created_at, "Created At") %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |artist| %>
        <tr id="<%= spree_dom_id(artist) %>" data-hook="admin_artists_index_rows">
          <td>
            <strong><%= link_to artist.name, admin_artist_path(artist) %></strong>
          </td>

          <td>
            <%= truncate(artist.introduction, length: 200) %>
          </td>

          <td>
            <%= truncate(artist.address, length: 200) %>
          </td>

          <td>
            <%= l(artist.dob, format: :short)%>
          </td>

          <td>
            <%= l(artist.created_at, format: :short) %>
          </td>

          <td class="actions align-center" data-hook="admin_artists_index_row_actions">
            <%= link_to_edit artist, no_text: true, class: 'btn btn-sm btn-primary' %>
            <%= link_to_delete artist, no_text: true, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @collection.empty? %>
  <div class="alert alert-info no-objects-found">
  </div>
<% end %>
